body{
    background-color: lightgray;
}
/*home page*/
.home{
    min-height: 60vw;
}
.projects,
.contact {
	min-height: 100vh;
}
.name{
    margin-top: 10vh;
}
.home-image{
    max-width: 40vw;
}

.contact-button{
    margin-top: 3rem;
}

/*about me*/
.about{
    min-height: 35vw;
}
.album-image{
    width: 30vw;
    max-width: 30vw;
}
/*skills*/
.skill-logo{
    width: 10vw;
}
/*my projects*/
.project-image{
    max-width: 30vw;
}

/*contact*/
.link{
    max-width: 5vw;
    fill: transparent;
}


/* ******************* tablet view ******************* */
@media (min-width: 768px) {
/*about me*/
.album-image{
    width: 20vw;
}
.album-text{
    font-size: 1.25rem;
}
}